<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> welcome to flask</h1>
    <div>
        <form name="myform">
            <label>username:</label>
            <input type="text" name="uname" required>
            <br>
            <br>
            <label>password:</label>
            <input type="password" name="pw" required>
            <br>
            <br>
            <button onclick="func()" id="btn">SUBMIT</button>

        </form>

    </div>
    <script>
        function func() {
            document.getElementById("btn").addEventListener('click', 
                alert("button is clicked")
            )
        }
    </script>
</body>
</html>